* {
     margin:0;
}
 .menulist {
    float:right !important;
}

.menulist > li {
    padding-right:10px;
}

.navbar {
    background-color: #333;
        position:relative;
    }

a {
    color:white !important;
}

.navbar-brand {
    font-weight:700; 
}

.mainimage {
    background-image:url('intro-bg.jpg');
    height:930px;
    background-repeat: no-repeat;
    width:100%;
    background-size:cover;
    background-position: center center;
    position:relative;
}

.headerh1 {
    color:white;
    text-align:center;
    font-size:7rem;
}

.headerh2 {
    color:white;
    text-align:center;
    padding-top:30px;
}

.chooseush2 {
    text-align:center;
    padding:30px 0px 25px 0px;
}

.chooseusp {
    text-align:center;
    padding-bottom:30px;
}

.icon-content {
    float:right;
    max-width:180px;
}

.fa, .fas, .far {
    padding:15px 0px 0px 35px;
}

.whoimage {
    background-image:url('downloads-bg.jpg');
    height:330px;
    background-repeat: no-repeat;
    width:100%;
    background-size:cover;
}

.whoh2 {
    color:white;
    text-align:center;
}

.lead {
    color:white;
    text-align:center;
}

.btn {
    color:black !important;
    display: inline-block;
}

.contact {
    text-align: center;
}

.clienth2 {
    text-align:center;
    padding: 30px 0px 20px 0px;
}

.contactsection {
    background-color: #333;
}

.contacth2, .contactp {
    text-align:center;
    color:white;
}

.contacth2 {
    padding-top:35px;
}

.list-inline-item {
    display:inline-block;
}

.list-inline {
    text-align:center;
    padding-top:15px;
}

.footer {
    text-align:center;
    padding:30px 0px 20px 0px;
}

.fa-bars {
    color:#fff !important; 
    font-size:28px;
}
.mainheader {
    position:absolute;
    top:170px;
}

.whoimage {
    position:relative;
}

.who-section {
    position:absolute;
    top:87px;
    left:60px;
}
@media (min-width:350px) and (max-width:766px) {  /*mobile view*/
    .icon-content{
        float: none;
        display:inline;
    }
    .navbar-toggler { 
        padding-bottom:40px !important;
    }
    h3, .icondiv{
        text-align:center;
    }
    .icondiv {
        padding-bottom:15px;
    }
    .icons {
        padding-right:20px !important;
    }
    .google {
        padding-top:10px;
    }

    .menulist{
        position:absolute;
        top:15;
        left:15;
    }
    .collapse {
        min-height:170px;
    }
}
  
@media (min-width:767px) and (max-width:993px) {   /*tablet view*/
    
    .navbar-toggler { 
        padding-bottom:40px !important;
    }

    .icons {
        position:absolute;
        left:150px;
    }
    .icon-content {
        margin-right:40px !important;
    }

    .menulist{
        position:absolute;
        top:15;
        left:15;
    }
    .collapse {
        min-height:190px;
    }
}

@media (min-width:994px) and (max-width:3000px) { /*desktop*/
  
    .chooseus {
        height:450px;
        }
        .clientsection{
            height:300px;
        }
}
@media (min-width:994px) and (max-width:1198px) { 
    .icon-content {
        max-width:140px;
    }
}

